* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Variaveis */
  --bg-color: #EDF2FF.;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #364FC7;
}

body.dark-water{
  --bg-color: #61C2A2;
  --text-color: #FFFFFF;
  --primary-color: #2C8395;
  --primary-color-dark: #1D617A;
}

body.dark-blue{
  --bg-color: #00082F;
  --text-color: #FFFFFF;
}

body.pink{
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D
}

body.dark-pink{
  --bg-color: #1F000B;
  --text-color: #FFFFFF;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

a {
  text-decoration: none;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;

}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: 4px var(--primary-color) solid;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: "Roboto Mono", monospace;
  opacity: 0.8;
  font-size: 18px;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  background: var(--primary-color);
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;
}

/* pseudo-class */
ul li a:hover{
  background: var(--primary-color-dark);
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover{
  opacity: 1;
}

footer a {
  color: var(--text-color);
}